<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nome do Meu Site</title>
    <link rel="stylesheet" href="cadastroTrabalhador_Style.css">
    <!-- Aqui devem estar todos os links CSS -->
</head>
<body>
    
    {{{body}}}

</body>
    <!-- Aqui devem estar todos os links JS -->
    <script src="/JS/btVerSenha.js" defer></script>
</html>