<head>  <link rel="stylesheet" href="/CSS/cadastroTrabalhador_Style.css" /></head>

<div class="container">
  <div class="progress">
    <div class="step completed">1</div>
    <div class="step completed">2</div>
    <div class="step active">3</div>
    <div class="step">4</div>
  </div>

  <h2>Foto de Perfil</h2>

  <div class="avatar">👤</div>

  <form action="/cadastro/trabalhador/dados-enviados/foto-perfil" method="post" class="form" enctype="multipart/form-data">



    <input type="file" id="foto" name="foto" accept="image/*" class="file-input">
    <label for="foto" class="btn-outline">Carregar foto</label>

    <div class="form-actions">
      <button type="submit" class="btn">Pronto</button>
    </div>
  </form>
</div>
