<head>
    <link rel="stylesheet" href="/CSS/login_Style.css">
</head>

<form action="/login/{{usuario}}" method="post">
    <label for="login">{{nome_campo_chave}}</label>
    <input type="{{tipo_campo}}" name="email" id="email" required>

    <label for="senha">Senha</label>
    <div id="divisoria">
        <input type="password" name="senha" id="senha" required>
        <div id="btVerSenha">
            <img src="/ICONS/olho-nao-ver-senha.svg" alt="Ver senha" id="iconSenha">
        </div>
    </div>

    <input type="submit" value="Fazer login">

    <div class="login-links">
        <a href="/empresa/cadastro" class="btn-empresa">Quero me cadastrar como empresa</a>
    </div>
</form>
